@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Umbraco.Core.Mapping;
@using Aio.Umbraco.Services.Interfaces;
@using Aio.Umbraco.Services;
@using Aio.Umbraco.Common.ContentModels
@{  
    ISettingsService service = new SettingsService();

    var logoSetting = service.SiteSettings;

    var currentDate = DateTime.Now.ToString("dddd, dd/MM/yyyy", new System.Globalization.CultureInfo("vi-VN"));
}
<header>
    <div class="header-wrapper white-bg">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="top-left d-flex">
                            <a class="d-lg-none view-mb-menu"><i class="fas fa-bars"></i></a>
                            <div class="top-logo-time d-flex">
                                <a class="logo" href="/"><img src="@logoSetting.SiteLogoUrl.Url" alt="logo" class="img-fluid d-block"></a>
                                <p class="time-now">@currentDate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 d-none d-lg-block">
                        <div class="top-right d-inline-flex w-100">
                            
                            <form class="form-inline search-box" action="/tim-kiem">
                                <input class="form-control" type="search" placeholder="Tìm kiếm" aria-label="Search" id="query" name="q">
                                <button class="" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-header -->
        <div class="mobile-header pt-3 pb-3" id="mySidenav">
            <div class="container">
                <div class="mb-top-menu clearfix">
                    <div class="float-left">
                        <span class="btn-mb-close">&#10005;</span>
                    </div>
                    <div class="float-right">
                        <a href="/home"><img src="@logoSetting.SiteLogoUrl.Url" alt="logo" class="img-fluid d-block"></a>
                    </div>
                </div>
                <div class="bt-solid mt-3 mb-3"></div>

                <form class="form-inline search-box" action="/tim-kiem">
                    <input class="form-control" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="bt-solid mt-3 mb-3"></div>
                    @Html.Partial("Navigation/MobileNavigation")
            </div>
        </div>
        <div class="close-side-overlay"></div>
        <!-- destop-header -->
        <div class="header-menu white-bg d-none d-lg-block" id="myHeader">
            @Html.Partial("Navigation/TopNavigation")
            <div class="wrap-all-menu clearfix" id="tat-ca">
                @Html.Partial("Navigation/ShowAllMenu")
            </div>

        </div>
    </div>
</header>
