@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Umbraco.Core.Models.PublishedContent;
@using Umbraco.Core.PropertyEditors.ValueConverters
@{
    var root = Model.Root();
    var home = root.Children.FirstOrDefault(x => x.Id == 1089);
    var setting = root.Children.FirstOrDefault(x => x.Id == 1118);

    string title = Model.Name;
    string description = setting.Value("descriptionSuffix").ToString();
    var image = setting.Value<IPublishedContent>("siteLogoUrl");
    var imgUrl = image.Url;
    var currentPage = this.ViewData.Model;
    var robots = "<meta name=\"robots\" content=\"{0} \">";
    string robot = "";
    string metaProps = "";
    string keywords = string.Empty;
    if (currentPage != null)
    {
        title = !string.IsNullOrEmpty(currentPage.Value("metaPageTitle") as string) ? currentPage.Value("metaPageTitle").ToString()
                    : !string.IsNullOrEmpty(currentPage.Parent.Value("metaPageTitle") as string) ? currentPage.Parent.Value("metaPageTitle").ToString()
                        : setting.Value("metaPageTitle").ToString();
        description += !string.IsNullOrEmpty(currentPage.Value("metaDescription") as string) ? currentPage.Value("metaDescription").ToString()
                    : !string.IsNullOrEmpty(currentPage.Parent.Value("metaDescription") as string) ? currentPage.Parent.Value("metaDescription").ToString()
                        : setting.Value("metaDescription").ToString();

        keywords += !string.IsNullOrEmpty(currentPage.Value("metaKeywords") as string) ? currentPage.Value("metaKeywords").ToString()
                    : !string.IsNullOrEmpty(currentPage.Parent.Value("metaKeywords") as string) ? currentPage.Parent.Value("metaKeywords").ToString()
                        : setting.Value("metaKeywords").ToString();

        if (Model.HasValue("robots") || setting.HasValue("robots"))
        {

            var robotsTag = Model.HasValue("robots") ? Model.Value("Robots") as string[] : setting.Value("robots") as string[];

            foreach (var item in robotsTag)
            {
                robot += item + ", ";
            }
        }
        if (Model.HasValue("Picture"))
        {
            ImageCropperValue picture = Model.Value<ImageCropperValue>("Picture");
            imgUrl = picture.Src + picture.GetCropUrl("thumbnail");
        }
        metaProps = !string.IsNullOrEmpty(currentPage.Value("metaProperties") as string) ? currentPage.Value("metaProperties").ToString()
                    : !string.IsNullOrEmpty(currentPage.Parent.Value("metaProperties") as string) ? currentPage.Parent.Value("metaProperties").ToString()
                        : setting.Value("metaProperties").ToString();
    }

    var hostUrl = Request.Url.AbsoluteUri.StartsWith("https") ? "https://" + Request.Url.Authority.Replace(":80","") : "http://" + Request.Url.Authority.Replace(":80","");
    var homePageUrl = Request.Url.AbsoluteUri.EndsWith("/home") ? hostUrl.Replace("/home", "") : Request.Url.AbsoluteUri.Replace(":80","");

    metaProps = metaProps.Replace("[site_name]", homePageUrl).Replace("[url]", homePageUrl).Replace("[image]", hostUrl + imgUrl)
                                                  .Replace("[title]", title).Replace("[description]", description);

}
<title>@title</title>
@Html.Raw(metaProps)
<meta name="description" content="@Html.Raw(@description)">
<meta name="keywords" content="@keywords" />
@if (!string.IsNullOrEmpty(robot))
{
    robots = string.Format(robots, robot.Substring(0, robot.Length - 2));
    @Html.Raw(robots)
}
