@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Aio.Umbraco.Services;
@using Aio.Umbraco.Services.Interfaces;
@{
    var category = Model.Parent;
    var arrayCategories = category.Descendants().Where(x => x.IsVisible() && x.ContentType.Alias == "news" && x.Name != Model.Name).OrderByDescending(item => item.Value("postedDateTime"));
    INewsService service = new NewsService();
    var categoryData = service.GetTopicNews(arrayCategories);
}
<div class="widget-news-small widget-bg">
    @if (categoryData.Count == 0)
    {
        <h6 class="merri-title">
            <a href="@Model.Parent.Url">
                @Model.Parent.GetProperty("title").GetValue()
            </a>
        </h6>
        <p>@Model.Parent.GetProperty("title").GetValue() chỉ có 1 bài báo</p>
    }
    else
    {
        <h6 class="merri-title">
            <a href="@Model.Parent.Url">
                @categoryData[0].Category
            </a>
        </h6>
        <a href="@categoryData[0].Url" class="d-inline-block img-thumb">
            <img src="@categoryData[0].Picture" class="img-fluid">
        </a>
        <div class="orthers-news-small">
            @for (int i = 0; i < 3 && i < categoryData.Count(); i++)
            {
                <h6 class="merri-title item-news">
                    <a href="@categoryData[i].Url">
                        @categoryData[i].Title
                    </a>
                </h6>
            }
        </div>
    }
</div>

