@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@using Aio.Umbraco.Services;
@using Aio.Umbraco.Services.Interfaces;
@{
    var numOfCategories = 4;
    var numOfNews = 3;
    var currentPage = Model;
    var numOfCategoriesHasItem = 0;
    var category = Model.Parent;
    var arrayCategories = category.Descendants().Where(x => x.IsVisible() && x.ContentType.Alias == "category" && x.Name != currentPage.Name).ToArray();
}
@if (arrayCategories.Count() > 0)
{
    for (int index = 0; index < arrayCategories.Count(); index++)
    {
        if (numOfCategoriesHasItem == numOfCategories)
        {
            break;
        }
        var arrayNews = arrayCategories[index].Descendants().Where(x => x.IsVisible() && x.ContentType.Alias == "news").OrderByDescending(i => i.Value("postedDateTime")).ToArray();
        if (arrayNews.Count() > 0)
        {
            numOfCategoriesHasItem++;
            <div class="widget-news-small">
                <h6 class="merri-title">
                    <a href="@arrayCategories[index].Url()">
                        @arrayCategories[index].GetProperty("Title").Value()
                    </a>
                </h6>
                <a href="@arrayNews[0].Url()" class="d-inline-block img-thumb"><img src="@arrayNews[0].GetProperty("Picture").Value()" class="img-fluid"></a>
                <div class="orthers-news-small">
                    @for (int i = 0; i < arrayNews.Count(); i++)
                    {
                        if (i > numOfNews - 1)
                        {
                            break;
                        }
                        <h6 class="merri-title item-news">
                            <a href="@arrayNews[i].Url()">
                                @arrayNews[i].GetProperty("Title").Value()
                            </a>
                        </h6>
                    }
                </div>
            </div>
        }
    }
}


