@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Core.Services;
@{
    var category = Umbraco.Content(Udi.Parse(Model.MacroParameters["category"].ToString()));
    var selection = category.Children.Where(x => x.IsVisible()).ToArray();
    IContentService contentService = Services.ContentService;
    double toNow = 9999999999999999999;
    var latestNews = selection[0];
    foreach (var item in selection)
    {
        var typeContent = contentService.GetById(item.Id).ContentType.Alias;
        if (typeContent != "news")
        {
            foreach (var child in item.Children.Where(x => x.IsVisible()))
            {
                DateTime postday = DateTime.Parse(child.GetProperty("PostedDateTime").Value().ToString());
                DateTime now = DateTime.UtcNow;
                TimeSpan difference = now.Subtract(postday);
                if (difference.TotalSeconds < toNow)
                {
                    latestNews = child;
                    toNow = difference.TotalSeconds;
                }
            }
        }
        else
        {
            TimeSpan different = DateTime.UtcNow.Subtract(DateTime.Parse(item.GetProperty("PostedDateTime").Value().ToString()));
            if (different.TotalSeconds < toNow)
            {
                latestNews = item;
                toNow = different.TotalSeconds;
            }
        }
    }
}



<div class="home-categories-list pl-3">
    <!-- category-box-item 1-->
    <div class="category-box-item">
        <div class="cate-options d-flex">
            <h5 class="cate-title merri-title"><a href="@category.Url()">@category.GetProperty("Title").Value()</a></h5>
            <ul>
                @foreach (var item in selection)
                {
                    var typeContent = contentService.GetById(item.Id).ContentType.Alias;
                    if (typeContent != "news")
                    {
                        <li><a href="@item.Url">@item.GetProperty("Title").Value()</a></li>
                    }
                }
            </ul>
        </div>
        <div class="cate-content-box d-flex">
            <article class="thumb-cate mr-3">
                <a href="#" class="d-inline-block img-thumb"><img src="@latestNews.GetProperty("Picture").Value()" class="img-fluid" alt="" /></a>
                <div class="cate-thumb-desc mt-3">
                    <h6 class="merri-title">
                        <a href="@latestNews.Url()">
                            @latestNews.GetProperty("Title").Value()
                        </a>
                    </h6>
                    <div class="child-news-desc">
                        <a href="#">
                            <span class="location-name">Điện Biên -</span>
                            <span>
                                @latestNews.GetProperty("shortDescription").Value()
                            </span>
                        </a>
                        <div class="update-time">
                            <span>
                                4' trước Trong nước
                            </span>
                        </div>
                    </div>
                </div>

            </article>
            <div class="others-news-cate">
                <article class="cate-item">
                    <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                    <div class="article-desc">
                        <a href="#">
                            Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                        </a>
                        <span class="comments-count">
                            <i class="far fa-comment"></i>
                            <a href="#">85</a>
                        </span>
                    </div>

                </article>
                <article class="cate-item">
                    <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                    <div class="article-desc">
                        <a href="#">
                            Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                        </a>
                        <span class="comments-count">
                            <i class="far fa-comment"></i>
                            <a href="#">85</a>
                        </span>
                    </div>

                </article>
                <article class="cate-item">
                    <h6 class="merri-title"><a href="#">Võ sư Thái Cực lý giải căn nguyên nội công</a></h6>
                    <div class="article-desc">
                        <a href="#">
                            Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                        </a>
                        <span class="comments-count">
                            <i class="far fa-comment"></i>
                            <a href="#">85</a>
                        </span>
                    </div>

                </article>

            </div>
        </div>

    </div>
</div>