@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Aio.Umbraco.Services;
@using Aio.Umbraco.Services.Interfaces;
@{
    var numOfNews = 10;
    if (Model.MacroParameters.Any() && Model.MacroParameters.Keys.Contains("numOfNews")) {
        int.TryParse(Model.MacroParameters["numOfNews"].ToString(), out numOfNews);
    }
    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var homepage = root.Children.FirstOrDefault(x => x.Name == "Home" && x.IsVisible());
    var arrayNews = homepage.Descendants().Where(x => x.IsVisible() && x.ContentType.Alias == "news").OrderByDescending(item => item.Value("postedDateTime")).ToArray();
    var latestNews = arrayNews[0];
    INewsService service = new NewsService();
}
<div class="news-list">
    <!-- article 1 -->
    @for (int i = 1; i < numOfNews && i < arrayNews.Count(); i++)
    {
        <article class="article-item">
            <h6 class="title-news merri-title"><a href="@arrayNews[i].Url()" target="_blank">
                @System.Net.WebUtility.HtmlDecode(arrayNews[i].GetProperty("title").Value().ToString())
                  </a>
            </h6>
            <div class="d-flex">
                <a href="@arrayNews[i].Url()" class="mr-3 img-thumb" target="_blank"><img src="@arrayNews[i].GetProperty("Picture").Value()" style='max-height: 100%; max-width: 100%; object-fit: contain' class="img-fluid" alt="" /></a>
                <p class="article-desc">
                    <a href="@arrayNews[i].Url()" target="_blank">
                        @System.Net.WebUtility.HtmlDecode(arrayNews[i].GetProperty("shortDescription").Value().ToString())
                    </a>
                    <span class="update-time">
                        @service.CalculatePostedDateTime(@arrayNews[i].GetProperty("postedDateTime").Value().ToString())
                    </span>
                </p>
            </div>
        </article>

    }
</div>