@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="news-list">
    <!-- article 1 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
        <div class="d-flex">
            <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images//articles/1.jpg")" class="img-fluid" alt="" /></a>
            <p class="article-desc">
                <a href="#">
                    Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 1 -->
    <!-- article 2 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Phi công học lái xe tải, sửa bể bơi mùa dịch</a></h6>
        <div class="d-flex">
            <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images//articles/2.jpg")" class="img-fluid" alt="" /></a>
            <p class="article-desc">
                <a href="#">
                    Không thể lái máy bay vì Covid-19, nhiều phi công tại Mỹ và Anh phải tìm đủ việc làm thêm để có thu nhập.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 2 -->
    <!-- article 3 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Bắc Kinh đóng cửa trường học, hủy hơn 1.200 chuyến bay</a></h6>
        <div class="d-flex">
            <!-- <a href="#" class="mr-3 img-thumb img-thumb"><img src="assets/images//articles/1.jpg"  class="img-fluid" alt=""/></a> -->
            <p class="article-desc">
                <a href="#">
                    Bắc Kinh đóng cửa trở lại toàn bộ trường học và hủy hơn 1.200 chuyến bay khi thành phố ghi nhận 137 ca nCoV liên quan đến chợ Tân Phát Địa.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 3 -->
    <!-- article 4 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
        <div class="d-flex">
            <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images//articles/1.jpg")" class="img-fluid" alt="" /></a>
            <p class="article-desc">
                <a href="#">
                    Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 4 -->
    <!-- article 5 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Phi công học lái xe tải, sửa bể bơi mùa dịch</a></h6>
        <div class="d-flex">
            <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images//articles/2.jpg")" class="img-fluid" alt="" /></a>
            <p class="article-desc">
                <a href="#">
                    Không thể lái máy bay vì Covid-19, nhiều phi công tại Mỹ và Anh phải tìm đủ việc làm thêm để có thu nhập.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 5 -->
    <!-- article 6 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Bắc Kinh đóng cửa trường học, hủy hơn 1.200 chuyến bay</a></h6>
        <div class="d-flex">
            <!-- <a href="#" class="mr-3 img-thumb img-thumb"><img src="assets/images//articles/1.jpg"  class="img-fluid" alt=""/></a> -->
            <p class="article-desc">
                <a href="#">
                    Bắc Kinh đóng cửa trở lại toàn bộ trường học và hủy hơn 1.200 chuyến bay khi thành phố ghi nhận 137 ca nCoV liên quan đến chợ Tân Phát Địa.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 6 -->
    <!-- article 7 -->
    <article class="article-item">
        <h6 class="title-news merri-title"><a href="#">Người từ Việt Nam đến Singapore không cần cách ly tập trung</a></h6>
        <div class="d-flex">
            <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images//articles/1.jpg")" class="img-fluid" alt="" /></a>
            <p class="article-desc">
                <a href="#">
                    Những người đã ở Việt Nam 14 ngày liên tiếp sẽ không phải cách ly tập trung khi nhập cảnh Singapore từ 23h59 ngày 17/6.
                </a>
                <span class="comments-count">
                    <i class="far fa-comment"></i>
                    <a href="#">85</a>
                </span>
            </p>
        </div>
    </article>
    <!-- article 7 -->
</div>