@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Category>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var parent = Model.Parent;
    var subCategory = Model.Descendants().Where(c => c.ContentType.Alias == "category").ToArray();
    bool isMainCategory = subCategory.Count() != 0 ? true : false;
    var title = isMainCategory ? Model.Value("Title") : parent.Value("Title");
    var url = isMainCategory ? Model.Url() : parent.Url();
    var udi = new GuidUdi("document", isMainCategory ? Model.Key : parent.Key);
    var arrayNews = Model.Descendants().Where(c => c.ContentType.Alias == "news").OrderByDescending(item => item.Value("postedDateTime")).ToArray();
}

@*<section>
        <div class="row">
            <div class="col-lg-9">
                <div class="latest row">
                    <div class="col-lg-8">
                        <a href="@arrayNews[0].Url()"><img src="@arrayNews[0].GetProperty("Picture").Value()" style='height: 100%; width: 100%; object-fit: contain' /></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="@arrayNews[0].Url()">
                            <h2>@arrayNews[0].GetProperty("title").Value()</h2>
                            <span>@arrayNews[0].GetProperty("shortDescription").Value()</span>
                        </a>
                    </div>
                </div>
                @for (int i = 1; i < arrayNews.Count(); i++)
                {
                    <div class="related row">
                        <div class="col-lg-8">
                            <a href="@arrayNews[i].Url()">
                                <h2>@arrayNews[i].GetProperty("title").Value()</h2>
                                <span>@arrayNews[i].GetProperty("shortDescription").Value()</span>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="@arrayNews[i].Url()"><img src="@Url.Content("~/@arrayNews[i].GetProperty("Picture").Value()" style='height: 100%; width: 100%; object-fit: contain' /></a>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-3"></div>
        </div>
    </section>*@
<div class="container white-bg pt-2 pb-2">
    <div class="category-page">
        @Html.Partial("Navigation/CategoryHeader")
        @Html.Partial("Navigation/CategoryMenu")
        <!-- product-news -->
        <div class="product-news">
            <div class="row">
                <div class="col-lg-9">
                    <article class="news-item d-flex">
                        <div class="col-img mr-3">
                            <a href="@arrayNews[0].Url()"><img src="@arrayNews[0].GetProperty("Picture").Value()" style='height: 100%; width: 100%; object-fit: contain' /></a>
                        </div>
                        <div class="col-desc">
                            <h5 class="heading-title-news merri-title">
                                <a href="@arrayNews[0].Url()">@arrayNews[0].GetProperty("title").Value()</a>
                            </h5>
                            <p>

                                <a href="@arrayNews[0].Url()">
                                    @arrayNews[0].GetProperty("shortDescription").Value()
                                </a>
                                <br>
                                <span class="comments-count">
                                    <i class="far fa-comment"></i>
                                    <a href="#">32</a>
                                </span>
                            </p>
                        </div>
                    </article>
                    <div class="bt-solid mt-3 mb-3 d-none d-lg-block"></div>
                    <div class="child-news horizontal">
                        @if (arrayNews.Count() >= 2)
                        {
                            <ul class="d-flex">
                                @for (int i = 1; i <= 3; i++)
                                {
                                    if (i == arrayNews.Count()) { break; }
                                    <li>
                                        <h6 class="merri-title">
                                            <a href="@arrayNews[i].Url()">
                                                @arrayNews[i].GetProperty("title").Value()
                                            </a>
                                        </h6>
                                        <div class="child-news-desc">
                                            <a href="@arrayNews[i].Url()">
                                                <span>
                                                    @arrayNews[i].GetProperty("shortDescription").Value()
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="bt-solid mt-3 mb-3"></div>
                    <!-- box-slide-topic  -->
                    <div class="box-slide-topic d-flex">

                        <div class="col-box-topic-1">
                            <div><strong>Chủ đề</strong></div>
                        </div>
                        <div class="col-box-topic-2">
                            <div class="box-shop-sell-vertical d-flex">
                                <div class="sell-top-box">
                                    <div class=" btn-control-carousel">
                                        <a class="carousel-control-prev" href="#carouselExampleInterval1" role="button" data-slide="prev">
                                            ❮
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleInterval1" role="button" data-slide="next">
                                            ❯
                                        </a>
                                    </div>
                                </div>

                                <div id="carouselExampleInterval1" class="slide pointer-event" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item carousel-item-next carousel-item-left">
                                            <div class="article-list-sell d-flex">
                                                <article class="article-item">
                                                    <div>Kinh tế sau đại dịch</div>
                                                </article>
                                                <article class="article-item">
                                                    <div>Mâu thuẫn cổ đông Coteccons</div>
                                                </article>
                                                <article class="article-item">
                                                    <div>Làn sóng dịch chuyển đầu tư</div>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="carousel-item active carousel-item-left">
                                            <div class="article-list-sell d-flex">
                                                <article class="article-item">
                                                    <div>Kinh tế sau đại dịch 2</div>
                                                </article>
                                                <article class="article-item">
                                                    <div>Mâu thuẫn cổ đông Coteccons 2</div>
                                                </article>
                                                <article class="article-item">
                                                    <div>Làn sóng dịch chuyển đầu tư 2</div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- box-slide-topic  -->
                    <div class="bt-solid mt-3 mb-3"></div>
                </div>
                <div class="col-lg-3">
                    <div class="child-news">
                        @if (arrayNews.Count() >= 5)
                        {
                            <ul class="d-flex flex-column">
                                @for (int i = 4; i <= 6; i++)
                                {
                                    if (i == arrayNews.Count()) { break; }
                                    <li>
                                        <h6 class="merri-title">
                                            <a href="@arrayNews[i].Url()">
                                                @arrayNews[i].GetProperty("title").Value()
                                            </a>
                                        </h6>
                                        <div class="child-news-desc">
                                            <a href="@arrayNews[i].Url()">
                                                <span>
                                                    @arrayNews[i].GetProperty("shortDescription").Value()
                                                </span>
                                            </a>
                                            <br>
                                            <span class="comments-count">
                                                <i class="far fa-comment"></i>
                                                <a href="#">32</a>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
            <div class="topic-list">
                <div class="row">
                    @if (arrayNews.Count() >= 8)
                    {
                        for (int i = 7; i <= 12; i++)
                        {
                            if (i == arrayNews.Count()) { break; }
                            <div class="col-lg col-md-4 topic-item">
                                <a href="#" class="d-inline-block img-thumb"><img src="@arrayNews[i].GetProperty("Picture").Value()" alt="news-kinh-doanh-1" class="img-fluid"></a>
                                <h6 class="merri-title">
                                    <a href="@arrayNews[i].Url()">
                                        @arrayNews[i].GetProperty("title").Value()
                                    </a>
                                </h6>
                                <p>
                                    <span class="comments-count">
                                        <i class="far fa-comment"></i>
                                        <a href="#">32</a>
                                    </span>
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="bt-solid mt-3 mb-3"></div>
            <div class="bt-solid mt-3 mb-3"></div>
            <div class="categories-list">
                <div class="row">
                    <div class="col-lg-8 col-line">
                        <!-- news-list -->
                        @if (arrayNews.Count() >= 12)
                        {
                            <div class="post-list">
                                @for (int i = 11; i <= arrayNews.Count(); i++)
                                {
                                    if (i == arrayNews.Count())
                                    {
                                        break;
                                    }
                                    else if (arrayNews[i].HasProperty("Picture"))
                                    {
                                        <!-- article with image -->
                                        <article class="post-item d-flex">
                                            <div class="col-desc mr-3">
                                                <h5 class="merri-title">
                                                    <a href="#">@arrayNews[i].GetProperty("title").Value()</a>
                                                </h5>
                                                <p>
                                                    <a href="#">
                                                        @arrayNews[i].GetProperty("shortDescription").Value()
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-img mr-3">
                                                <a href="#" class="mr-3 img-thumb">
                                                    <img src="@arrayNews[i].GetProperty("Picture").Value()" alt="" class="img-fluid">
                                                </a>
                                            </div>
                                        </article>
                                    }
                                    else if (!arrayNews[i].HasProperty("Picture"))
                                    {
                                        <!-- article with no image -->
                                        <article class="post-item d-flex">
                                            <div class="col-desc mr-5">
                                                <h5 class="merri-title">
                                                    <a href="#">@arrayNews[i].GetProperty("title").Value()</a>
                                                </h5>
                                                <p>
                                                    <a href="#">
                                                        @arrayNews[i].GetProperty("shortDescription").Value()
                                                    </a>
                                                </p>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                        }
                        <div class="post-list">
                        </div>
                        <!-- news-list -->
                    </div>
                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="categories-widgets pl-3">
                            <div class="widget-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td colspan="3"><strong>Giá vàng 9999 </strong><div class="float-right">tr.đ/lượng</div></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Mua</td>
                                            <td>Bán</td>
                                        </tr>
                                        <tr>
                                            <td>Vàng miếng SJC</td>
                                            <td>48,400</td>
                                            <td>48,600</td>
                                        </tr>
                                        <tr>
                                            <td>Vàng ép vỉ Hưng Thịnh Vượng</td>
                                            <td>47,850</td>
                                            <td>48,450</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td colspan="3"><strong>Lãi suất tiền gửi (%năm)</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Kỳ hạn (tháng)</td>
                                            <td>Online</td>
                                            <td>Tại quầy</td>
                                        </tr>
                                        <tr><td>01</td><td>4.20</td><td>4.10</td></tr>
                                        <tr><td>06</td><td>6.90</td><td>6.80</td></tr>
                                        <tr><td>09</td><td>7.00</td><td>6.90</td></tr>
                                        <tr><td>12</td><td>7.10</td><td></td></tr>
                                        <tr><td>18</td><td>7.20</td><td>7.10</td></tr>
                                        <tr><td>24</td><td>7.50</td><td>7.30</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-news-small widget-bg">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Vận hành số
                                    </a>
                                </h6>
                                <a href="#" class="d-inline-block img-thumb"><img src="@Url.Content("~/assets/images/category/news-kinh-doanh-6.png")" alt="news-kinh-doanh-6" class="img-fluid"></a>
                                <div class="orthers-news-small">
                                    <h6 class="item-news">
                                        <a href="#">
                                            'Blockchain giúp doanh nghiệp giữ chân khách hàng'
                                        </a>
                                    </h6>
                                    <h6 class="item-news">
                                        <a href="#">
                                            Doanh nghiệp cần biết gì về hóa đơn điện tử trước giờ G
                                        </a>
                                    </h6>
                                    <h6 class="item-news">
                                        <a href="#">
                                            Doanh nghiệp ký hợp đồng từ xa tiết kiệm 90% chi phí
                                        </a>
                                    </h6>
                                </div>
                            </div>
                            <div class="widget-news-small widget-bg">
                                <h6 class="merri-title header-full-line">
                                    <a href="#">
                                        Bảo hiểm nhân thọ <br>
                                        <span class="sub-header">Vững tài chính tương lai</span>
                                    </a>
                                </h6>
                                <a href="#" class="d-inline-block img-thumb"><img src="@Url.Content("~/assets/images/category/news-kinh-doanh-7.jpg")" alt="news-kinh-doanh-7" class="img-fluid"></a>
                                <div class="orthers-news-small">
                                    <h6 class="item-news">
                                        <a href="#">
                                            Chặng đường 15 năm phát triển của Chubb Life
                                        </a>
                                    </h6>
                                    <h6 class="item-news">
                                        <a href="#">
                                            Chubb Life Việt Nam tổ chức hiến máu nhân đạo
                                        </a>
                                    </h6>
                                    <h6 class="item-news">
                                        <a href="#">
                                            Quyền lợi khi tham gia bảo hiểm nhân thọ
                                        </a>
                                    </h6>
                                </div>
                            </div>
                            <div class="widget-news-small widget-bg">
                                <h6 class="merri-title header-full-line">
                                    <a href="#">
                                        Kinh tế tương lai
                                    </a>
                                </h6>
                                <a href="#" class="d-inline-block img-thumb"><img src="@Url.Content("~/assets/images/category/news-kinh-doanh-8.jpg")" alt="news-kinh-doanh-8" class="img-fluid"></a>
                                <div class="orthers-news-small">
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            'Số hóa nông nghiệp cần đồng bộ từ quy mô nhỏ'
                                        </a>
                                    </h6>
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            Tọa đàm thúc đẩy chuyển đổi số trong nông nghiệp sau Covid-19
                                        </a>
                                    </h6>
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            Nông nghiệp chuyển đổi số thế nào sau khủng hoảng
                                        </a>
                                    </h6>
                                </div>
                            </div>
                            <div class="widget-news-small">
                                <h6 class="merri-title">
                                    <a href="#">
                                        Bất động sản
                                    </a>
                                </h6>
                                <a href="#" class="d-inline-block img-thumb"><img src="@Url.Content("~/assets/images/category/news-kinh-doanh-9.png")" alt="news-kinh-doanh-9" class="img-fluid"></a>
                                <div class="orthers-news-small">
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            Bốn lợi thế giúp Gem Sky World thu hút đầu tư
                                        </a>
                                    </h6>
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            Sân bay nâng tầm quốc tế 'mở lối' cho địa ốc Quảng Bình
                                        </a>
                                    </h6>
                                    <h6 class="merri-title item-news">
                                        <a href="#">
                                            Những yếu tố nổi bật tại Picity High Park
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bt-solid mt-3 mb-3"></div>
            <div class="category-footer">
                <form class="view-date">
                    <i class="far fa-calendar-alt"></i>
                    <a class="input-button" title="toggle" data-toggle="">
                        <i class="far fa-calendar-alt"></i>
                    </a>
                    <input type="text" class="calendar flatpickr-input" placeholder="Xem theo ngày" data-input="" readonly="readonly">
                </form>
                <div class="pagination-center">
                    <div class="category-pagination">
                        <span>Trang</span> &nbsp; &nbsp;
                        <a href="#">❮</a>
                        <a href="#">1</a>
                        <a href="#">❯</a>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="box-shop-sell-vertical p-3">
                    <div class="box-sponsor-noslide">
                        <div class="clearfix sell-top-box">
                            <h6 class="merri-title heading-line float-left"><a href="">Tin tài trợ</a></h6>
                        </div>
                        <div class="row article-list-sell">
                            <div class="col-lg-3">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb">
                                            <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="fsell1" class="img-fluid d-block">
                                            <span class="name-sponsor">St Moritz</span>
                                        </a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb">
                                            <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="fsell2" class="img-fluid d-block">
                                            <span class="name-sponsor">St Moritz</span>
                                        </a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb">
                                            <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="fsell3" class="img-fluid d-block">
                                            <span class="name-sponsor">St Moritz</span>
                                        </a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="article-item">
                                    <div class="d-flex">
                                        <a href="#" class="mr-3 img-thumb">
                                            <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="fsell4" class="img-fluid d-block">
                                            <span class="name-sponsor">St Moritz</span>
                                        </a>
                                        <div class="article-desc">
                                            <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="bt-solid mt-3 mb-3"></div>
                    <div class="clearfix sell-top-box">
                        <h6 class="merri-title heading-line float-left"><a href="">Shop VnExpress</a></h6>
                        <div class="float-right btn-control-carousel">
                            <a class="carousel-control-prev" href="#carouselExampleInterval1" role="button" data-slide="prev">
                                ❮
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleInterval1" role="button" data-slide="next">
                                ❯
                            </a>
                        </div>
                    </div>

                    <div id="carouselExampleInterval1" class="carousel slide pointer-event" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item carousel-item-next carousel-item-left">
                                <div class="row article-list-sell">
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb">
                                                    <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="" class="img-fluid d-block">
                                                    <span class="name-sponsor">St Moritz</span>
                                                </a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/2.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/3.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/3.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item active carousel-item-left">
                                <div class="row article-list-sell">
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb">
                                                    <img src="@Url.Content("~/assets/images/fsell/1.jpg")" alt="" class="img-fluid d-block">
                                                    <span class="name-sponsor">St Moritz</span>
                                                </a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Dự án văn phòng, căn hộ khách sạn 5 sao ở đại lộ Phạm Văn Đồng</span></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/2.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/3.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-3">
                                        <article class="article-item">
                                            <div class="d-flex">
                                                <a href="#" class="mr-3 img-thumb"><img src="@Url.Content("~/assets/images/fsell/4.jpg")" alt="" class="img-fluid d-block"></a>
                                                <div class="article-desc">
                                                    <a href="#" class="fsell-title"><span>Bán nhà Trương Định 44m2 nhà đẹp ngõ 3...</span></a>
                                                    <p class="fsell-price">3.600.000.000 đ</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
