@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@{ 
    Layout = null;
    var now = DateTime.Now;
    var site = Model.Root();
    var setting = site.Children.FirstOrDefault(x => x.Id == 1118);
    var logoSetting = setting.Value<IPublishedContent>("siteLogoUrl");
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
@*<html lang="en">*@
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang chủ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@logoSetting.Url" type="image/x-icon">
    <!-- libraries -->
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/fontawesome-all.min.css")">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- aiostyles -->
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/main.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/main.css")">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an outdated browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    @Html.Partial("Header")
    <main>
        <div class="wrapper-content">
            <div class="container white-bg">
                @RenderBody()
            </div>
        </div>
    </main>
    @Html.Partial("Footer")

    <script src="@Url.Content("~/assets/scripts/jquery-3.5.1.min.js")"></script>
    <script src="@Url.Content("~/assets/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/scripts/flatpickr.js")"></script>
    <script src="@Url.Content("~/assets/scripts/main.js")"></script>

</body>
</html>

